
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 2px black;
    margin: 1rem;
    padding: 0.5rem;
    background: var(--course-card-bg);
    height: 6rem;

}
.child {
    border-radius: 50%;
}

.container span {
    font-size: 1.25rem;
}